@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
  margin: 0;
  font-family: 'Goldman', cursive;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 900px;
  background: url("./dg-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
